* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.history {
    display: flex;
    flex-direction: column;
}

.card-img-top {
    display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
